/* Geral */

body {
    font-family: 'Inter';
    background-color: black;
    color: white;
    padding: 16px;
}

/* Cabeçalho */

header .logo-container {
    display: flex;
    justify-content: center;
}

header div {
    width: 100%;
}

header div .logo {
    width: 83px;
    height: 22.21px;
}

header div .botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    padding: 8px 0;
    font-weight: 700;
}

header div .botoes ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

header div .botoes ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

header div .botoes ul .buy-button-container {
    height: 40px;
    border: solid 1.5px white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

header div .botoes ul li a {
    margin: 0 8px;
    font-weight: 400;
}

.line1 {
    margin-bottom: 152px;
}
/* Main */

main {
    margin: 16px 0;
}

main section {
    margin: 16px 0;
}

main section .carro1 {
    width: 100%;
}

main section div .title {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

main section div .title .dbs {
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
}

main section div .paragraph2 {
    margin-top: 0;
    font-weight: 300;
}

main section div .saiba-mais-container {
    border: solid 1px white;
    border-radius: 10px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main section .carro2 {
    width: 100%;
}

main .section3 {
    padding: 16px;
    border-radius: 12px;
    background: linear-gradient(to top, #91282F, #330002)
}

.footer-container {
    background-color: white;
}

.section3 div h2 {
    margin-top: 0;
    font-size: 36px;
}

footer {
    color: black;
    padding: 16px;
}

footer .logo-container {
    display: flex;
    justify-content: center;
}

footer .refs {
    cursor: pointer;
}

footer .paragraph3 {
    text-align: center;
    padding: 32px;
}

@media screen and (min-width: 1024px) {

    header {
        display: flex;
        align-items: center;
    }

    header .logo-container {
        width: min-content;
    }

    header div .botoes {
        display: flex;
        justify-content: flex-end;
    }

    main {
        margin-top: 128px;
        padding: 32px
    }

    header div .botoes ul {
        display: flex;
        width: 478px;
    }

    main .section1 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    main .section1 .carro1 {
        width: 66%;
    }

    .saiba-mais-container {
        width: 172px !important;
    }

    main .section2 {
        display: flex;
        align-items: center;
    }

    main .section2 .card2 {
        margin-left: 32px;
    }

    main .section3 .card3 {
        width: 426px;
    }

    main .section3 .card3 h2 {
        margin-bottom: 0;
    }

    main .section3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        background: linear-gradient(to right, #91282F, #330002);
    }

    main .section3 .card3 .saiba-mais-container {
        width: 217.44px !important;
        background-color: black;
    }

    .footer-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer .refs {
        display: flex;
        justify-content: space-between;
    }

    footer .paragraph3 {
        padding: 0;
    }

    footer .refs div {
        display: flex;
    }

    footer .refs div p {
        margin-left: 24px;
    }

}

@media screen and (min-width: 1350px) {

    header, main {
        margin: 0 auto;
        width: 1280px;
    }

    main {
        padding: 32px
    }

    footer {
        width: 1280px;
    }

}
